/* CSS Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:Arial, Helvetica, sans-serif
}

header {
   background-image: url(/public/welcome.jpg);
   height: 130vh;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   color: white;
}

.banner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #262626;
   height: 9vh;
   border-bottom: 2px solid black;
}

.banner button{
   margin-right: 2%;
   background-color: #82b440;
   height: 6vh;
   width: 9%;
   border-radius: 8px;
   color: white;
   box-shadow: 0px 0px 2px #95d048;
}

.banner button:hover{
   background-color: #95d048;
   cursor:pointer;
}

.banner div{
   margin-left: 2%;
}

nav{
   display: flex;
   justify-content: space-between;
   margin-top: 45px;
}

.logo{
   margin-left: 2%;
}

nav ul{
   display: flex;
   list-style: none;
}

nav li {
   margin: 0px 25px;
   font-weight: bold;
}

#Super_Hungry{
   color: white;
   border-radius: 30px;
   border: 2px solid white;
   text-decoration: none;
   padding: 15px 35px;
}

/*Modifying the super hungry upon hovering*/
#Super_Hungry:hover {
   background-color: white;
   color:#82b440;
} 

/*Styling the slogan search by typing or category section*/
.slogan-want-container{
   display: flex;
   flex-direction: column;
   width: 60%;
}

.slogan{
   padding: 20vh 0vh 2.5vh 20vh;
   font-size: 48px;
}

.want{
   margin: 5vh 20vh;
   font-size: 36px;
   color: white;
   background-color:rgba(112, 128, 144, 0.175);
   border-radius: 30px;
   border: 2px solid ;
   text-decoration: none;
   padding: 15px 35px; 
}

.categories{
  cursor: pointer; 
}

/*Styling the restaurant category section*/
#restaurant-category{
   margin-top: 80px;
}
#restaurant-category-header{
   text-align: center;
   font-size: 48px;

}
.restaurant-category-imgs{
   display: flex;
   flex-direction: column;
}

.restaurant-category-imgs>div{
   margin: 5px;
   justify-content: space-between;
   width: 50%;
}